@model List<Predstava>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izmjena repertoara</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .form-style {
            width: 80%;
            max-width: 600px;
            padding: 30px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .form-style label {
                text-align: left;
            }

            .form-style h4 {
                text-align: left;
                margin-top: 0;
                color: #333;
            }

        ul {
            list-style-type: none;
            padding: 0;
        }

        .my-li {
            text-align: left;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <center><form class="form-style" method="post" asp-action="izmjenaRepertoara" asp-controller="Izvedba">
        <h4>Odaberite predstave za novi repertoar:</h4>
            <div>&nbsp;</div>
        <ul>
            @foreach (var predstava in ViewBag.Predstava)
            {
                <li class="my-li">
                    <label>
                        <input type="checkbox" name="odabranePredstaveID" value="@predstava.ID">
                        @predstava.naziv
                    </label>
                </li>
            }
        </ul>
        <button type="submit" class="my-button">Submit</button>
	</form></center>    

    <div><h1>&nbsp;</h1></div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
</body>
</html>
