@model Teatar18_2.Models.KarteRezervacijaViewModel

@{
    ViewData["Title"] = "Kreiraj rezervaciju";
}

<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="KreirajRezervacijuConfirmed" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <input type="hidden" asp-for="Rezervacija.IDIzvedbe" />
            <input type="hidden" asp-for="Izvedba.ID" />
            <input type="hidden" asp-for="Izvedba.IDPredstave" />
            <input type="hidden" asp-for="Izvedba.vrijeme" />
            <input type="hidden" asp-for="Izvedba.brojSlobodnihKarata" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rezervacija.kupovina" /> Kupovina
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Rezervacija.brojKarata" class="control-label">Broj karata</label>
                <select asp-for="Rezervacija.brojKarata" class="form-control">
                    @for (int i = 1; i <= Model.Izvedba.brojSlobodnihKarata; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Rezervacija.brojKarata" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kreiraj rezervaciju" class="btn btn-primary my-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}