@model Teatar18_2.Models.Rezervacija

@{
    ViewData["Title"] = "Plaćanje uživo";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="IDIzvedbe" />
            <input type="hidden" asp-for="brojKarata" />
            <input type="hidden" asp-for="popust" />
            <input type="hidden" asp-for="aktivna" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="kupovina" /> Plaćeno
                </label>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Spasi" class="btn btn-primary" >
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
