@model Teatar18_2.Models.Rezervacija

@{
    ViewData["Title"] = "Placanje";
}

<h1>Placanje</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="PlatiRezervaciju">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <input type="hidden" asp-for="IDIzvedbe" />

            <input type="hidden" asp-for="kupovina" />

            <div>
                <h5>Metode placanja i ostalo...</h5>
            </div>
            
            <input type="hidden" asp-for="brojKarata" />

            <input type="hidden" asp-for="popust" />

            <input type="hidden" asp-for="aktivna" />

            <div class="form-group">
                <input type="submit" value="Plati" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>