@model Teatar18_2.Models.Rezervacija

@{
    ViewData["Title"] = "Otkazivanje";
}

<h1>@ViewData["Title"]</h1>

<h3>Rezervacije su uspješno otkazane.</h3>

<a asp-action="Index">Povratak na listu</a>
