@page
@model IndexModel
@{
    ViewData["Title"] = "Podaci o profilu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    <div class="col-md-6">
        <h3>@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />

        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Ime" class="form-control" placeholder="ime" disabled />
                <label asp-for="Ime" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Prezime" class="form-control" placeholder="prezime" disabled />
                <label asp-for="Prezime" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="username" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
