@page "{id:int}"
@model KupovinaModel

@{
    ViewData["Title"] = "Plaćanje";
    ViewData["ActivePage"] = ManageNavPages.Kupovina;
}

<div class="row">
    <div class="col-md-6">
        <h3>@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form method="post">
            @if(Model.rezervacija.popust != 0)
            {
                <div>
                    <p>Popust: @(Model.rezervacija.popust * 100)%</p>
                </div>         
            }

            <div class="form-floating mb-3">
                <input asp-for="Input.CreditCardNo" class="form-control" aria-required="true" />
                <label asp-for="Input.CreditCardNo" class="form-label"></label>
                <span asp-validation-for="Input.CreditCardNo" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CVC" class="form-control" aria-required="true" />
                <label asp-for="Input.CVC" class="form-label"></label>
                <span asp-validation-for="Input.CVC" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ExpirationDate" class="form-control" aria-required="true" />
                <label asp-for="Input.ExpirationDate" class="form-label"></label>
                <span asp-validation-for="Input.ExpirationDate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CardholderName" class="form-control" aria-required="true" />
                <label asp-for="Input.CardholderName" class="form-label"></label>
                <span asp-validation-for="Input.CardholderName" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Plati</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}