@page "{id:int}"
@model OtkazivanjeRezervacijeModel

@{
    ViewData["Title"] = "Otkazivanje rezervacije";
    ViewData["ActivePage"] = ManageNavPages.OtkazivanjeRezervacije;
}

<h3>Jeste li sigurni da želite otkazati ovu rezervaciju?</h3>

<partial name="_StatusMessage" for="StatusMessage" />
<form method="post">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ID rezervacije
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.rezervacija.ID)
            </dd>
            <dt class="col-sm-2">
                Broj karata
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.rezervacija.brojKarata)
            </dd>
        </dl>
            
        <div>
            <button type="submit" class="btn btn-danger">Otkaži</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}